/* Body */
[data-testid="stHorizontalBlock"] {
  align-items: center;
}
#tabs-bui3-tabpanel-3 [data-testid="stHorizontalBlock"] {
  align-items: stretch;
}
button[title="View fullscreen"] {
  visibility: hidden;
}
[href*="#cuda"] {
  display: none;
}
div.stTabs button p {
  font-size: 20px;
}
div.stTabs button {
  width: 50%;
}
.block-container {
  padding-top: 2.875rem;
}
/* scroll */
/* スクロールを無効化 */
/* .block-container {
  overflow-y: hidden;
} */

/* Header */
.host {
  vertical-align: middle;
  font-size: 24px;
  padding-top: 0;
}
.cuda {
  text-align: center;
  font-size: 24px;
}

/* Overview component */
#tabs-bui3-tabpanel-0
  > div:nth-child(1)
  > div
  > div:nth-child(n + 2)
  > div:nth-child(n + 2)
  > div
  > div {
  gap: 0;
}
#tabs-bui3-tabpanel-0
  > div:nth-child(1)
  > div
  > div:nth-child(n + 2)
  > div:nth-child(n + 2)
  > div
  > div
  > div:nth-child(1) {
  padding-left: 12px;
}
#tabs-bui3-tabpanel-0 > div:nth-child(1) > div > div:nth-child(n + 2) {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 8px;
}
.gpu-usage-wrapper.darkgray {
  color: darkgray;
}
.gpu-usage {
  font-size: 1.3rem;
}
